      body {
        text-align:center;
        background: #f5f8f9;
        margin: 0;
        background: #7bddcd;
      }
      .content {
        background: #f5f8f9;
        padding: 50px 0;
      }
      .nav {
        letter-spacing: .1em;
      }
      .about {
        text-align: left;
        padding: 20px;
        font-family: Georgia;
        line-height: 1.5em;
        font-size: 20px;
        max-width: 700px;
        margin: auto;
      }
      img {
        width: 400px;
        display: block;
        margin: 0 auto 50px auto;
      }
      a {
        color: #7bddcd;
        font-size: 20px;
        border-bottom: 1px dotted #7bddcd;
        text-decoration: none;
      }
      a:hover {
        background: rgba(123, 221, 205, 0.15);
      }
